
<form action="/add" class="form-control" method="POST">
    <h1>Cadastro de Postagens</h1>
        <div class="form-group">
        <label >Titulo: </label>
        <input type="text" class="form-control"  name="titulo">
    <label>Conteúdo:</label>
    <textarea class="form-control" name="conteudo" rows="3"></textarea>
    <label>Imagem:</label>
     <input type="text" name="img" class="form-control" placeholder="coloque o link da imagem"><br><br>
    <button class="btn btn-primary" type="submit">Cadastrar Postagem</button>
   

    </div>
</form>
 <a href="/"><button>Voltar</button></a>